{% extends 'base.html' %}
{% block content %}
<div  class="text-center">
    <h1 class="display-4 mb-4">Bienvenue sur PrimeBid 💎</h1>
    <p class="lead">La plateforme d’enchères au centime près !</p>
    <a href="/register" class="btn btn-success btn-lg mt-3">Créer un compte</a>
    <a href="/encheres" class="btn btn-outline-primary btn-lg mt-3 ms-2">Voir les enchères</a>
</div>
{% endblock %}

{% block footer %}
<footer class="mt-5 py-4 bg-light text-center border-top">
    <p class="mb-1">Contact : contact@primebid.com | Instagram : @primebid</p>
    <small>&copy; 2025 PrimeBid. Tous droits réservés.</small>
</footer>
{% endblock %}